# settings.yml.j2
# 用于渲染 claude settings 的 YAML 模板

schema: "https://json.schemastore.org/claude-code-settings.json"
env:
  DISABLE_TELEMETRY: "1"
  DISABLE_ERROR_REPORTING: "1"
  CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC: "1"
  MCP_TIMEOUT: "60000"
  # 模型的API密钥
  ANTHROPIC_API_KEY: "{{ secrets.settings.env.ANTHROPIC_API_KEY }}"
  # 模型的baseUrl
  ANTHROPIC_BASE_URL: "{{ settings.env.ANTHROPIC_BASE_URL }}"
  # 用于opus或opusplan当计划模式处于活动状态时的模型。
  ANTHROPIC_DEFAULT_OPUS_MODEL: "{{ settings.env.ANTHROPIC_DEFAULT_OPUS_MODEL }}"
  # 当计划模式未激活时sonnet, 要使用的模型。opusplan
  ANTHROPIC_DEFAULT_SONNET_MODEL: "{{ settings.env.ANTHROPIC_DEFAULT_SONNET_MODEL }}"
  # haiku用于后台功能的模型
  ANTHROPIC_DEFAULT_HAIKU_MODEL: "{{ settings.env.ANTHROPIC_DEFAULT_HAIKU_MODEL }}"
  # 用于子代理的模型
  CLAUDE_CODE_SUBAGENT_MODEL: "{{ settings.env.CLAUDE_CODE_SUBAGENT_MODEL }}"
includeCoAuthoredBy: false
permissions:
  allow:
    - Bash
    - BashOutput
    - Edit
    - Glob
    - Grep
    - KillShell
    - NotebookEdit
    - Read
    - SlashCommand
    - Task
    - TodoWrite
    - WebFetch
    - WebSearch
    - Write
  deny: []
hooks: {}
statusLine:
  type: command
  command: ccline
  padding: 0
outputStyle: "{{ settings.outputStyle }}"
alwaysThinkingEnabled: true
